<!DOCTYPE html>
<html>
<h1>Store 1</h1>
    <ul>
    {{#each grocery_store1.list}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
<h1>Store 2</h1>
    <ul>
    {{#each grocery_store2.list}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
</html>