<!DOCTYPE html>
<html>
<head>
    <title>E3 News</title>
</head>

<body>
    <div class="list-group">
        <% data.forEach((item) => { %>
            <a href="/post/<%= item.id %>" class="list-group-item">
              <h1 class="list-group-item-heading"><%= item.company %></h1>
          <% }) %>
    </div>

</body>
    
</html>